.formulario{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-top: 20px;
    text-align: start;
}

input {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
    padding: 5px;
}